.advantages {
  padding-top: 88px;
  padding-bottom: 88px;
}

@media (max-width: 1270px) {
  .advantages {
    padding-top: calc(30px + 58 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 1270px) {
  .advantages {
    padding-bottom: calc(30px + 58 * ((100vw - 320px) / 950));
  }
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 15px 0;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 85px 1fr;
      grid-template: auto auto / 85px 1fr;
}

@media (max-width: 991.98px) {
  .advantages__item {
    min-width: 280px;
  }
}

@media (max-width: 767.98px) {
  .advantages__item {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: auto 1fr;
        grid-template: auto auto / auto 1fr;
  }
}

.advantages__icon {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-row: span 2;
}

@media (max-width: 767.98px) {
  .advantages__icon {
    padding: 0px 15px 0px 0px;
  }
}

.advantages__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin: 0px 0px 0.11111em 0px;
}

.advantages__text {
  line-height: 150%;
  color: #898989;
}
