.furniture {
  padding-bottom: 85px;
}

@media (max-width: 1270px) {
  .furniture {
    padding-bottom: calc(40px + 45 * ((100vw - 320px) / 950));
  }
}

.furniture__label {
  text-align: center;
  color: #616161;
  line-height: 150%;
  font-size: 20px;
}

@media (max-width: 1270px) {
  .furniture__label {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }
}

.furniture__label:not(:last-child) {
  margin: 0px 0px 0.4em 0px;
}

.furniture__title {
  margin: 0px 0px 0.8em 0px;
}

.furniture__body {
  position: relative;
}

@media (any-hover: none) {
  .furniture__body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.furniture__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

@media (any-hover: hover) {
  .furniture__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.furniture__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}

.furniture__column:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.furniture__row {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0 8px;
  gap: 16px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-flow: column;
}

.furniture__row:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.row-furniture_left-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.row-furniture_left-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.row-furniture_center {
  display: block;
}

.row-furniture_right-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.row-furniture_right-bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (any-hover: hover) {
  .row-furniture__item img {
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  .row-furniture__item:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}
